@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #669ccb;
    --primary-color: #5072A7;
    --primary-color-dark: #5681a7;
    --secondary-color: #e8f1fa;
    --tirtery-color: #;
    --text-dark: #282d31;
    --text-light: #767268;
    --light-color: #f3f4f6;

    --btn-color-1: #2a52be;
    --btn-color-2: #00356B;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.section-subheader {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    color: var(--text-light);
    margin-bottom: 5rem;
    text-align: center;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--light-color);
    background-color: var(--btn-color-1);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    color: var(--white);
    background-color: var(--btn-color-2);
}

a {
    text-decoration: none;
    transition: 0.3s;
}

img {
    display: flex;
    width: 100%;
}

html, 
body {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-dark);
}

.nav-logo a{   
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

.nav-logo a span {
    color: var(--btn-color-1);
}

.nav-menu-btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}



.nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.3s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav-links.open {
    transform: translateY(0);
}

.nav-links a {
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    color: var(--white);
    transition: 0.3s;
    text-transform: uppercase;
}


.nav-links a:hover {
    color: var(--primary-color);
}

.header-bg {
    background-image: 
    radial-gradient(black, black, black
    )
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

.header-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-content {
    margin-top: 4rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--light-color);
    max-width: 700px;
}

.header-content h1 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.header-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 3rem;
    text-align: left;
}

.destination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-grid {
    display: grid;
    gap: 2rem 1rem;
}

.destination-card {
    padding: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.destination-image {
    margin-bottom: 1rem;
    overflow: hidden;
}

.destination-card img {
    width: 100%;
    max-width: 350px;
    transition: 0.3s;
}

.destination-card h4 {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    display: flex;
    gap: 0.5rem;
    color: var(--text-dark);
    cursor: pointer;
}

.destination-name span{
    font-size: 1.3rem;
}

.destination-card:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 20px rgba(0, 0, 0, 0.1);

    img {
        transform: scale(1.2);
    }
}

@media (width > 540px) {
    .destination-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

 
@media (width > 768px) {

    nav {
        position: absolute;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .nav-header {
        background-color: transparent;
        padding: 0;
    }

    .nav-logo a{
        font-size: 2rem;
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-links {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        padding: 2rem 1rem;
        background-color: transparent;
        transform: none;
    }

    .nav-links a:hover {
        color: var(--primary-color);
    }

    .destination-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (width > 1024px) {
    .destination-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
